<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Ajouter un Utilisateur</h1>
    <form method="post" action="/addUser">
      <label for="first_name">Prénom:</label>
      <input type="text" id="first_name" name="first_name" required />

      <label for="last_name">Nom:</label>
      <input type="text" id="last_name" name="last_name" required />

      <!-- Ajoutez d'autres champs d'entrée pour le téléphone, l'e-mail, la date de naissance, etc. -->

      <button type="submit">Ajouter</button>
    </form>
  </body>
</html>
